@import url('https://fonts.googleapis.com/css2?family=Bruno+Ac+SC&family=Castoro+Titling&family=Foldit&family=Quicksand:wght@300&display=swap');

body{
   background-color: #c7c7d7;
   font-family: 'Quicksand', 'Castoro Tilting';
   padding: 0;
   margin: 0;
}

h2 {
    margin:0;
}

.home-title{
    color: #88a6ff;
    font-family: 'Bruno Ac SC';
    font-size: 2em;
    margin-top: 10px;
}

header {
    background-color: rgba(142, 220, 244, 0.7);

}

.logo {
    width:80px;
}
#logo_link{
    padding-top: 5px;
}
.icon {
    width:80px;
    padding-top: 10px;
}


main{
 background-color: #A5A6B6;
}
main section{
    text-align: center;
}
main section img{
box-sizing: border-box;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
nav{
    align-items: left;
    text-align: left;
}
nav a{
    text-decoration: none;
    text-align: left;
    color:#4634EB;
    padding: 35px;
}
nav a:hover{
    text-align: left;
    background-color: #4634EB;
    color: white;
}

#hero_msg h1 {
    text-align: center;
}
#hero_msg h4 {
    text-align: center;
}

.button_box {
    text-align: center;
}
.book {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 15px 35px;
    margin-top: 50px ;
    border-radius: 5px;
}
.book:hover{
    color: white;
    background-color: #7b7b87;
}

.join {
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 15px 35px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover{
    background-color: black;
    color:white;

}
footer {
    background-color:rgba(142, 220, 244, 0.7);
    padding: 25px 50px;
    margin-top:200px ;
    
}
footer a{
    color:black;
    text-decoration: none;
}
footer a:hover{
    background: black;
    color:white;
}
footer p {
    font-size: 1.2em;
}
footer p:hover{
    text-decoration: underline;
}
footer .social img {
padding-top: 15px;
}
.card-img{
    margin: 200px 0;
    border: 10px, solid, black;
}

#background{
    height: 725px;
    background-color: #A5A6B6;
}
.msg {
    background-color: rgb(99, 101, 70);
    color: white;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color:white;
}

.msg p{
    color: white;
    padding-bottom: 15px;
}