header {
    align-items:center;
    margin:30px;
    padding:30px;

}
img {
    float:center;
    justify-content: center;
    justify-self: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.nav_bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: blue;
    text-align: center;

}
body {
    color: blue;
    background-color: white;
    font-size: 1.75em;
}


nav {
    grid-column: 1/5;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    border: 10px;
    border-radius: 25px;
    background-color: aqua;
    color: green;
}
.welcome{
    text-align: center;
    grid-column: 2;
}

/* for desktop first */
@media screen and (max-width:900px){
    nav{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:500px){
    nav{
        grid-template-columns: 1fr;
    }
}
/* reversse the order with min width to render mobile first */


.social {
    display: block;
    height: 101px;
    width:101px;
    font-size: 1.5em;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: gold;
    /* margin: 10px; */
    justify-content: center;
    justify-self: center;
}
#youtube{
    width:100%;
    height: 100%;
}
#twitch{
    width: 100%;
    height:100%;
}

.nav a:link {
    color: tomato;
    
}
nav a:hover {
     color:green;
    background-color: white;
}
.mission{
    text-align:center;
}
.designs{
    grid-column: 2;
    grid-row:2 ;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.design-text{
    grid-column:1/4;
    grid-row: 2;
}