body{
background:greenyellow;

}
main{
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
}
.card{
    grid-row: 2;
    grid-column: 2;
    position: absolute;
    top: 25%;
    justify-content: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 940px;
    background: white;
    margin: auto;
    /* margin-top: 50%;
    margin-bottom: 50%; */
    /* margin-top: 500px; */
}

.card_image{
    grid-row: 1/2;
    grid-column: 1;

}
.text{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    margin:50px;

}
.name{
    border-style: solid;
    border-top: 1em;
    border-left: 1em;
    border-right: 1em;
}
